
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>
<body>
    <form action="{{ url_for('home')}}" method="post">
    <input type="checkbox" name="breakfast" id="breakfast">
    <label for="breakfast">Breakfast</label><br>
    <input type="checkbox" name="lunch" id="lunch">
    <label for="lunch">Lunch</label><br>
    <input type="checkbox" name="snacks" id="snacks">
    <label for="snacks">Snacks</label><br>
    <input type="checkbox" name="dinner" id="dinner">
    <label for="dinner">Dinner</label><br>
</form>
</body>
</html>